*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mainDiv{
    
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
   background-color:#dcdbe1 ;
}
.caldiv{
    
    background-color: #1B1A28;
    height: 60%;
    width: 40%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.topdiv{
    
    height: 20%;
    width: 99%;
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    font-weight: 600;
}
.display{
    /* border: 2px solid red; */
    height: 100%;
   border-radius: 10px;
   width: 70%;
   background-color:#dcdbe1 ;
   box-shadow: 0px 4px 10px black ;
}
.clear{
    height: 100%;
   border-radius: 10px;
   width: 12%;
   display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 10px black ;
}
.bottomdiv{
    /* border: 2px solid green; */
    height: 76%;
    width: 99%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    font-weight: 700;
    font-size: 25px;
}
.number,.equal{
    /* border: 2px solid red; */
    height: 18%;
    width: 28%;
    display: flex;
    justify-content: center;
    align-items: center;
   border-radius: 10px;
   box-shadow: 0px 4px 10px black ;
}
.sign{
    /* border: 2px solid red; */
    height: 18%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 25px;
    box-shadow: 0px 4px 10px black ;
}
.number,.sign{
    background-color: #65268E;
}
.equal,.clear{
background-color: #FE0066;
}